<p>Hangman is a game where you have to guess a secret word one letter at a time. You have to correctly guess all the letter within a certain number of tries.</p>

<p>Read more: <a href="https://en.wikipedia.org/wiki/Hangman_(game)">Hangman (game) - Wikipedia</a></p>

<a href="/">&lt;&lt; Play the game</a>
